@{
    ViewData["Title"] = "Home Page";
}

<div ng-controller="DeviceEmulatorController" ng-init="refresh()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h1>Service Fabric IoT Demov</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="checkbox" ng-click="toggleCreateDevices()" >
                    <label>
                        <input type="checkbox" ng-checked="creatingDevices" />
                        Creating devices
                    </label>
                </div>
                <div class="checkbox" ng-click="toggleSendDataFromDevices()">
                    <label>
                        <input type="checkbox" ng-checked="sendingData" />
                        Sending data from devices
                    </label>
                </div>
            </div>
        </div>

        actors: <span ng-bind="actors"></span>
        @*<div class="row" ng-bind="actor in actors">
            {{actor}}
        </div>*@
    </div>
</div>


