@{
    ViewData["Title"] = "Home Page";
}

<div ng-controller="DeviceEmulatorController" ng-init="refresh()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                Service Fabric IoT Demo
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form class="col-xs-12 center-block">

                </form>
            </div>
        </div>
</div>
